.PictureDisplayer{
        width:100%;
    }


@media (min-width: 769px){
    .PictureDisplayer{
        width:75%
    }
}


.PictureDates {
	background-color: #FFF;
	text-align: center;
	width: 100%;
	background-color: #CBCBCB;
	margin-top: 0.1em;
  
}

.PictureDates p {
	margin: 0;
}

.PicturesToDisplay{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	
}