.PictureDisplayer{
	padding-top: 0.8em;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	background-color:#BDBDBD;


}
@media (min-width: 769px){
    .PictureDisplayer{
        width:75%
    }
}